[submodule "qemu"]
	path = qemu
	url = git@github.com:grg-haas/qemu.git
[submodule "opensbi"]
	path = opensbi
	url = git@github.com:grg-haas/opensbi.git
[submodule "kvm-unit-tests"]
	path = kvm-unit-tests
	url = git@github.com:grg-haas/kvm-unit-tests.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
	shallow = true
	depth = 1
